#promo {
  background-color: #f8f8f8;
  background-size: cover;

  padding-top: 150px;
  padding-bottom: 100px;

  .wrapper {
    justify-content: space-between;

    @include breakpoint(max-width 425px) {
      flex-direction: column;
    }
  }
}

.promo {
  &-info {
    max-width: 55%;

    @include breakpoint(max-width 425px) {
      max-width: 100%;
    }
  }

  &__title {
    margin-bottom: 10px;

    @include breakpoint(max-width 425px) {
      margin: 25px 0;
    }
  }

  &__subtitle {
    margin-bottom: 10px;
  }

  &__text {
    margin-top: 15px;
  }

  &__date {
    display: inline-block;
    margin: 5px 58px;
    border-radius: 5px;
    padding: 5px;
    background-color: #fddd29;

    @include breakpoint(max-width 425px) {
      display: block;
      text-align: center;
      margin: 0;
      margin-bottom: 25px;
    }
  }

  &__button {
    margin-top: 40px;

    @include breakpoint(max-width 425px) {
      margin-top: 10px;
    }
  }

  &__logo {
    width: 100%;
    max-width: 425px;

    @include breakpoint(max-width 425px) {
      display: none;
    }
  }
}
