.table {
  text-align: left;
  border-collapse: collapse;
  overflow-x: visible;
}

table,
td,
th {
  border: 1px solid #ddd;
  text-align: left;
}

th,
td {
  padding: 5px;
}

td {
  max-width: 275px;

  @include breakpoint(max-width 425px) {
    min-width: 110px;
  }
}

.table-head {
  font-weight: 600;
}
