// -----------------------------------------------------------------------------
// В этом файле стили типографии для всех элементов страницы
// -----------------------------------------------------------------------------

body {
  font-family: 'PT Sans';
}

h1 {
  font-size: 60px;

  @include breakpoint(max-width 425px) {
    text-align: center;
  }
}

h2 {
  font-size: 30px;

  @include breakpoint(max-width 425px) {
    text-align: center;
  }
}

h3 {
  font-size: 18px;
  font-weight: 400;
}

li,
p {
  font-size: 18px;
  line-height: 30px;
}

a {
  color: #000000;
}


.contact-info__link,
.document-list__link {
  font-size: 18px;
  text-decoration: underline;
}

time {
  font-weight: 500;
  font-size: 18px;
}

.date {

}

.nav-link {
  color: #000000;

  &:hover {
    text-decoration: underline;
  }
}

.text-header {
  font-size: 24px;
  font-weight: 500;
}