// -----------------------------------------------------------------------------
// В этом файле стили для компонента "кнопка"
// -----------------------------------------------------------------------------

.button {
  width: 250px;
  height: 60px;

  border: none;
  border-radius: 5px;
  transition: transform 0.3s ease;

  font-size: 18px;
  font-weight: 600;
  line-height: 160%;
  cursor: pointer;

  &-primary {
    color: #ffffff;
    background-color: #0098da;
  }

  &-secondary {
    background-color: transparent;
    border: 2px solid #0098da;
  }

  &--shadow {
    &:hover {
      transform: translateY(5px);
    }
  }
}
