// -----------------------------------------------------------------------------
// В этом файле стили для компонента "кнопка"
// -----------------------------------------------------------------------------

.button {
  width: 250px;
  height: 60px;

  border: none;
  border-radius: 5px;
  transition: transform 0.3s ease;
  color: #ffffff;
  background-color: #0098da;

  font-size: 18px;
  font-weight: 600;
  line-height: 160%;
  cursor: pointer;

  &--shadow {
    &:hover {
      transform: translateY(5px);
    }
  }
}
