// -----------------------------------------------------------------------------
// В этом файле прописываются все стили относящиеся к шапке сайта
// -----------------------------------------------------------------------------

#header {
  padding: 10px 0;
}

.header {
  &-logo {
    width: 100%;
    max-width: 60px;
    margin-right: 10px;
  }

  &-title {
    display: block;
    width: 200px;
  }
}

.menu {
  width: 100%;
}

.nav {
  display: flex;
  justify-content: flex-end;

  &-item {
    margin-right: 20px;
  }
}
