#promo {
  background-color: #f8f8f8;
  background-size: cover;

  .wrapper {
    justify-content: space-between;
  }
}

.promo {
  &-info {
    max-width: 60%;
  }

  &__title {
    margin-bottom: 10px;
  }

  &__subtitle {
    margin-bottom: 10px;
  }

  &__text {
    margin-top: 15px;
  }

  &__date {
    display: inline-block;
    margin: 5px 0;
    padding: 5px;
    background-color: #f3722d;
  }

  &__button {
    margin-top: 40px;
  }

  &__logo {
    width: 100%;
    max-width: 425px;
  }
}
