.about__text {
  margin-bottom: 20px;

  &--important {
    display: block;
    overflow: hidden;
    background-color: #f59191;
    padding: 10px 5px 10px 10px;
    margin-top: 10px;
    border-radius: 5px;

    &::before {
      content: "";
      display: block;
      float: left;
      margin-right: 10px;
      background-image: url("../img/icons/warning.svg");
      background-size: cover;
      width: 36px;
      height: 32px;
    }
  }
}

.about__breakline {
  margin-bottom: 25px;
}

.date-list {
  list-style-type: disc;
  margin-left: 20px;

  &__item {
    margin: 10px 0;
    font-size: 18px;
  }
}
